<div class="container">
  <div class="row">
    <div class="col-ms-12 mx-auto">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="row r">
          <div class="col">
            <input type="text"
                   class="form-control"
                   placeholder="Todo"
                   required
            formControlName="name">
          </div>
          <div class="col">
            <button type="submit" class="form-control btn btn-success"
            [disabled]="f.invalid "
            >{{editTodo ? 'Update' : 'Add'}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <app-todo-list></app-todo-list>
    </div>
  </div>
</div>
